<h1>Listing courses</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>

    <th>Gruppengrösse</th>
    <th>Class min</th>
    <th>Class max</th>
    <th>Where</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.title %></td>
    <td><%= course.description %></td>
    <td><%= course.num_of_students %></td>
    <td><%= course.class_min %></td>
    <td><%= course.class_max %></td>
    <td><%= course.where %></td>
  </tr>
<% end %>
</table>

<br />