<p>
  <b>Title:</b>
  <%= @course.title %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>Gruppengrösse:</b>
  <%= @course.capacity %>
</p>

<p>
  <b>Class min:</b>
  <%= @course.class_min %>
</p>

<p>
  <b>Class max:</b>
  <%= @course.class_max %>
</p>

<p>
  <b>Where:</b>
  <%= @course.where %>
</p>


<%= link_to 'editieren...', edit_course_path(@course) %> |
<%= link_to 'löschen...', @course, method: :delete, data: { confirm: 'Are you sure?' } %>
