<h3>Dein Kurs</h3>

<table class="table table-striped table-bordered">

  <tr>
    <td><b>Titel:</b></td>
    <td><%= @course.title %></td>
  </tr>
  <tr>
    <td><b>Beschreibung:</b></td>
    <td><%= @course.description %></td>
  </tr>
  <tr>
    <td><b>Wo:</b></td>
    <td>  <%= @course.where %></td>
  </tr>
  <tr>
    <td><b>Kapazität:</b></td>
    <td>  <%= @course.capacity %></td>
  </tr>
  <tr>
    <td><b>Für Welche Klassen</b></td>
    <td><%= @course.class_min %> - <%= @course.class_max %> Klasse</td>
  </tr>
</table>

<% if State.state_is_kurse_buchen? %>
    <div class="well">
      Definitiv angemolden haben sich:
    </div>

    <table class="table table-striped table-bordered">
      <tr>
        <th>Name</th>
        <th>Klasse</th>
        <th>Email</th>
      </tr>

      <% @course.definitive_students.each do |ds| %>
          <tr>
            <td><%= ds.student.user.name %></td>
            <td><%= ds.student.school_class.name %></td>
            <td><%= ds.student.user.email %></td>
          </tr>
      <% end %>
    </table>
<% end %>

<% if State.state_is_kurse_eingeben? %>
    <div class="well">
      Komm später wieder mal vorbei, dann siehst du welche Schüler diesem Kurs zugeteilt wurden.
    </div>
    <%= link_to 'editieren...', edit_course_path(@course) %> |
    <%= link_to 'löschen...', @course, method: :delete, data: {confirm: 'Wills du den Kurs wirklich löschen?'} %>
<% end %>