<div class="span12">
  <%# devise told me to put this lines %>
  <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <button class="close" data-dismiss="alert">×</button>
        <%= msg %>
      </div>
  <% end %>
  <%= yield %>
</div>

<!--
<div class="span9">
  <%# devise told me to put this lines %>
  <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <button class="close" data-dismiss="alert">×</button>
        <%= msg %>
      </div>
  <% end %>
  <%= yield %>
</div>
<div class="span3">
  <div class="well sidebar-nav">
    <h3>Sidebar</h3>
    <ul class="nav nav-list">
      <li class="nav-header">Sidebar</li>
      <li><%= link_to "Link1", "/path1" %></li>
      <li><%= link_to "Link2", "/path2" %></li>
      <li><%= link_to "Link3", "/path3" %></li>
    </ul>
  </div>
</div>
-->
